@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --mainc-border: rgb(234, 236, 237);

    --footer-bg: rgb(247, 249, 250);
    --footer-txt: rgb(84, 93, 104);

    --or-border: rgb(203, 210, 214);
    --or-txt: rgb(108, 115, 120);

    --btn-bg: rgb(5, 81, 181);
    --btn-hover: rgb(24, 98, 197);
    --forgot-txt: rgb(0, 112, 224);
    
    --email-border: rgb(146, 153, 160);
    --password-border: rgb(200, 204, 208);
    --error-border: rgb(217, 54, 11);
    --placeholder: rgb(108, 115, 120);

    --trouble-txt: rgb(17, 97, 202);
    --verify-error: rgb(104, 106, 109);
    --enter-norm: rgb(207, 211, 216);
    --enter-red: rgb(213, 1, 2);
}
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
* a {
    text-decoration: none;
}
img {
    user-select: none;
}
body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 98vh;
    overflow: hidden;
}

/*//// CONTAINERS ////*/
.main-container {
    display: block;
    margin-top: 120px;
    border: 1px solid var(--mainc-border);
    border-radius: 12px;
    padding: 30px 46px 50px 46px;
    text-align: left;
    background-color: transparent;
    width: 460px;
    height: 650px;
}
.logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.or-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 18px 0;
}
.lang-container {
    width: 100%;
    text-align: center;
    margin-top: 84px;
}
.load-bg {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 90;
    background-color: rgba(255, 255, 255, 0.9);
}
.error-flex {
    z-index: -5;
    position: absolute;
    left: 0;
    top: 50px; /*50, 68*/
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: top 0.3s ease;
}

.verify-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
}
.enter-flex {
    display: flex;
    gap: 8px;
    margin: 16px 0 20px;
    position: relative;
}
.v-error-flex {
    visibility: hidden;
    position: absolute;
    bottom: -8px; /*-8, -27*/
    left: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: -10;
}
/*////////////////////*/

/*//// WRAPPERS ////*/
.focus-border {
    z-index: 40;
    border-radius: 10px;
    border: 2px solid transparent;
    position: absolute;
    top: -6px;
    left: -6px;
    height: 76px;
    width: 376px;
}
#emailContainer {
    border: 1px solid var(--email-border);
}
#passwordContainer {
    border: 1px solid var(--password-border);
}
.input-container:hover {
    border: 1px solid var(--btn-bg);
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 66px;
    border-radius: 4px;
    background-color: transparent;
}
.info-input {
    z-index: 50;
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding-top: 8px;
    padding-left: 11px;
    border-radius: 4px;
    color: black;
    outline: 0;
}
.btn-login {
    background-color: var(--btn-bg);
    color: white;
    font-size: 16px;
    width: 100%;
    border-radius: 100px;
    height: 48px;
    cursor: pointer;
    border: 0;
    transition: 0.3s ease;
}
.btn-login:hover, .btn-verify:hover {
    background-color: var(--btn-hover);
}
.or-border {
    background-color: var(--or-border);
    height: 1px;
    margin-top: 1px;
    width: 100%;
}
.footer-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--footer-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    gap: 12px;
}
.btn-toggle {
    display: none;
    font-weight: 600;
    z-index: 30;
    position: absolute;
    top: 81px;
    right: 0;
    color: var(--forgot-txt);
    height: 66px;
    width: 54px;
    font-size: 12px;
    border: 1px solid var(--password-border);
    border-left: 0;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}
.eye-cover {
    z-index: 60;
    position: absolute;
    right: 1px;
    top: 25px;
    background-color: white;
    width: 22px;
    height: 22px;
}
.load-img {
    width: 150px;
    height: auto;
    animation: 1.25s load-spin linear infinite;
}
@keyframes load-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.enter-input {
    outline: 0;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--enter-norm);
    border-radius: 6px;
    font-size: 16px;
    color: black;
    height: 64px;
    width: 48px;
    caret-color: transparent;
}
.enter-input:focus {
    border: 1px solid var(--forgot-txt);
    box-shadow: 0px 0px 0px 1px var(--forgot-txt);
}
.btn-verify {
    background-color: var(--btn-bg);
    color: white;
    font-size: 14px;
    width: 400px;
    height: 48px;
    border-radius: 100px;
    letter-spacing: -0.5px;
    cursor: pointer;
    border: 0;
    transition: 0.3s ease;
}
/*//////////////////*/

/*//// TEXT CONTENT ////*/
.input-placeholder {
    z-index: -10;
    position: absolute;
    top: 18px;
    left: 10px;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: var(--placeholder);
    transition: 0.2s ease;
}
.forgot-password {
    display: block;
    color: var(--forgot-txt);
    font-size: 16px;
    margin: 18px 0;
    cursor: pointer;
    letter-spacing: -0.5px;
}
.or-txt {
    color: var(--or-txt);
    font-size: 15px;
    padding: 0 7.5px;
}
.btn-signup {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-size: 16px;
    width: 100%;
    border-radius: 100px;
    height: 48px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-signup:hover {
    border: 2px solid var(--btn-bg);
    color: var(--btn-bg);
}
.footer-lnk {
    cursor: pointer;
    color: var(--footer-txt);
    font-size: 11px;
    letter-spacing: -0.5px;
}
.error-txt {
    color: var(--footer-txt);
    font-size: 14px;
    position: relative;
    top: 3px;
}

.verify-title {
    color: black;
    font-size: 24px;letter-spacing: -0.5px;
    margin-top: 24px;
    margin-bottom: 12px;
}
.verify-desc {
    color: black;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.having-trouble {
    margin-top: 24px;
    font-size: 14px;
    letter-spacing: -0.5px;
    display: block;
    text-decoration: underline;
}
.ver-err-txt {
    font-size: 12px;
    color: var(--verify-error);
    position: relative;
    top: 1px;
}
/*//////////////////////*/

@media only screen and (max-width: 780px){
    .main-container {
        margin-top: 30px;
        border: 0;
        border-radius: 0px;
        padding: 0px;
        width: calc(100% - 50px);
        height: auto;
    }
    .focus-border {
        width: calc(100vw - 40px);
    }
    .verify-container {
        margin-top: 30px;
    }
    .btn-verify {
        width: 365px;
    }
    .enter-input {
        width: 40px;
        height: 66px;
    }
}
@media only screen and (max-width: 450px){
    .main-container {
        margin-top: 25px;
        width: calc(100% - 35px);
    }
    .focus-border {
        width: calc(100vw - 25px);
    }
    .load-img {
        width: 100px;
    }
}
@media only screen and (max-width: 395px){
    .verify-desc {
        font-size: 13px;
    }
    .btn-verify {
        width: 320px;
    }
}